/* DEVELOPER: Karolina Kowal, IS117-003, Fall 2023 */

/* styles for the Navbar */
.navbar-nav {
    margin-left: 62%;
}

.nav-link {
    color: #6c757d;
}
/*#static-item {
    color: lightgrey;
    margin-left: 90px;
}*/
/*DBB1BC*/
/*D3D5D4*/
.nav-item {
    padding: 0 1em;
}

#static-item {
    color: darkslategrey;
    position: absolute;
    left: 1%;
    top: 18px;
    font-family: "Lucida Calligraphy", sans-serif;
}
/* styles for Brand */
.navbar-brand {
    background-color: #03045e;
}
.navbar-brand img {
    height: 80px;
    width: 80px;
}
span {
    margin-left: 2%;
    color: lightgrey;
}

/* styles for the Heading */
h2 {
    color: blue;
    position: relative;
    top: 0.3em;
    left: 20em;
    border-radius: 20px;
    border: 2px solid black;
    width: 300px;
    background-color: white;
}

/* styles for the Body */
body {
    background-color: #edf2fb;
}

/* styles for the article */
article {
    border-radius: 20px;
    border: 2px solid black;
    width: 95em;
    height: 10em;
    background-color: #ffe5ec;
    margin-top: 3em;
}

article img {
    position: absolute;
    left: 1.5em;
    top: 13em;
    margin-top: 3em;
}

article p {
    position: absolute;
    top: 13em;
    left: 38em;
    margin-top: 2.5em;
}

/* styles for the aside */

aside b {
    position: absolute;
    top: 16.5em;
    bottom: 29.5em;
    left: 18em;
}

aside em {
    position: absolute;
    top: 18em;
    bottom: 28em;
    left: 18em;

}

/* styles for the valley-pictures class */
.valley-pictures {
margin-top: 3em;
}

.valley-pictures .picture-1 p {
    width: 50%;
    position: relative;
    top: 0.5em;
    left: 25%;
}

.valley-pictures .picture-2 p {
    width: 50%;
    position: relative;
    top: 0.5em;
    left: 25%;
}

.valley-pictures .picture-3 p {
    width: 50%;
    position: relative;
    top: 0.5em;
    left: 25%;
}

/* styles for the valley-pictures headings */
.valley-pictures h3 {
    text-align: center;
}

/* styles for the valley-pictures pictures */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

/* styles for the valley-pictures p elements */
.valley-pictures p {
    text-align: center;
}



/* styles for the aside inside the valley-pictures class */
/*.valley-pictures .picture-1 {
    border-radius: 25px;
    border: 2px solid black;
    float: right;
    width: 250em;
    height: 400em;
    background-color: white;
    position: relative;
    right: 5em;
}

.valley-pictures .picture-2  {
    border-radius: 25px;
    border: 2px solid black;
    float: left;
    width: 850px;
    height: 400px;
    background-color: #ffe5ec;
    position: relative;
    right: 2em;
}

.valley-pictures .picture-3 {
    border-radius: 25px;
    border: 2px solid black;
    float: right;
    width: 850px;
    height: 350px;
    background-color: white;
}
*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}